body{
  background-color: #77c9d4;
  text-align: center;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: aliceblue;
}

.nav-bar{
  background: rgb(0,212,255);
  background: linear-gradient(180deg, rgba(0,212,255,1) 0%, rgba(4,121,195,1) 45%, rgba(4,32,195,1) 100%); 
  padding: 10px;
}

.btn-primary, .btn-primary:active, .btn-primary:visited {
  background-color: #57bc90 !important;
  border-color: #57bc90;
}

.btn-primary:hover{
  background-color: #4ca47e !important;
  border-color: #4ca47e;
}

.form-class{
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  gap: 25px;
}

.form-button{
  width: 15%;
}